body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background:#FAF9F6;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:#8968ff;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:#8968ff;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#000000;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:988px){
    .footer{
    text-align:center;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px;
    text-align:center;
    }
    .footer .row a i{
        margin-left: 50px;
    }
    }