.intro_flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 750px;
    width: 100%;
    text-align: center;
    gap: 10px;
}
.intro_c{
  width: 65%;
}

@media (max-width: 988px){
  .intro_flex{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .intro_c{
    width: 90%;
    padding: 2px;
  }
}

/* -------------------------download cv--------------------------- */

.Documents-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: 45px;
    border: none;
    padding: 0px 18px;
    border-radius: 5px;
    background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .folderContainer {
    width: 40px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
  .fileBack {
    z-index: 1;
    width: 80%;
    height: auto;
  }
  .filePage {
    width: 50%;
    height: auto;
    position: absolute;
    z-index: 2;
    transition: all 0.3s ease-out;
  }
  .fileFront {
    width: 85%;
    height: auto;
    position: absolute;
    z-index: 3;
    opacity: 0.95;
    transform-origin: bottom;
    transition: all 0.3s ease-out;
  }
  .text {
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  .Documents-btn:hover .filePage {
    transform: translateY(-5px);
  }
  .Documents-btn:hover {
    background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
  }
  .Documents-btn:hover .fileFront {
    transform: rotateX(30deg);
  }
  