.nav-bg{
    position: fixed !important;
    width: 100% !important;
    background: linear-gradient(to right,rgba(137, 104, 255, 0.219),rgba(174, 152, 255, 0.285));
    backdrop-filter: blur(6px);
    z-index: 100;
}