.skill_flex{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 100px;
    height: 750px;
    gap: 30px;
}

@media (max-width: 988px){
    .skill_flex{
        height: auto;
        width: 100%;
        padding: 15px;
        margin-top: 50px;
        margin-bottom: 80px;
    }
}